<%- include('header'); -%>
 
<div class="card">
        <% console.log(title) %>  
        <h5 class="card-header"><%= title %></h5>
        <div class="card-body">
          <p class="card-text"><%= content %></p>
        </div>
 </div>

<%- include('footer'); -%>